@keyframes search-bar {
    from {width: 0;}
    to {width: 18vw;}
}
@keyframes search-bar-phone {
    from {height: 0;}
    to {height: 50vh;}
}
.search-container{
    height: 99.8%;
    width: 18vw;
    background-color: #161616;
    color: white;
    position: absolute;
    z-index: 1;
    left: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    animation-name: search-bar;
    animation-duration: 0.8s;
}
.search-container input{
    height: 5%;
    width: 82%;
    background-color: white;
    margin-top: 25px;
}
.search-info{
    height: 80vh;
    width: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
}
.search-account-container{
    height: 10%;
    width: 100%;
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@media screen and (max-width: 570px){
    .search-container{
        height: 50vh;
        width: 80vw;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 10vw;
        animation-name: search-bar-phone;
        animation-duration: 0.8s;
        border-radius: 0 0 12px 12px;
        gap: 4vh;
    }
    .search-container input{
        height: 10%;
    }
    .search-info{
        height: 70%;
        border-radius: inherit;
    }
    .search-account-container{
        height: 20%;
        width: 99%;
    }
}